<div class="container">
  <h1><%= @list.name %></h1>
  <% @list.bookmarks.each do |bookmark| %>
    <p><%= bookmark.movie.title %></p>
    <p><%= bookmark.comment %></p>
    <p><%= link_to 'delete', list_bookmark_path(bookmark) %></p>
  <% end %>
</div>
